#map {
    height: 500px;
}

#new-park {
    display: inline-block;
}

#barChart {
    width: 400px;
    height: 400px;
}

#data-source {
    font-size: 11px;
}

.footer {
    padding: 1em;
    border-top: 1px solid #8B8C8C;
}

.content {
    margin: 1em;
}

.nav, .navbar, .navbar-default {
    background-color: #CCDFD9;
}

body {
    background-color: #EDEDED;
}

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    width: 400px;
    padding: 0 20px;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #EDEDED;
    color: #FFF;
}