{% extends 'base.html' %}
{% block content %}

    <div class="content">
    <h3>About</h3>
        <p>Parktake was inspired by a love of adventure. Jacqueline Huynh enjoys the outdoors and visiting national parks. Her favorite season to visit is winter, when fewer people venture and quiet serenity takes over. She is a software engineering fellow at Hackbright Academy for the fall 2015 cohort. Parktake is her final project.</p>

        <p>Hackbright Academy is the leading engineering school for women with a mission to increase female representation in tech through education, mentorship and community. Founded in San Francisco in 2012, the academy graduates more female engineers than Stanford and UC Berkeley each year. For more information about the program, please visit <a href="https://hackbrightacademy.com">hackbrightacademy.com</a>.</p>
    </div>

{% endblock %}