{% extends 'base.html' %}
{% block content %}

    <h3>About</h3>
    <div class="about-age">
        <p>Skateboard cred gastropub, migas godard wolf pork belly bushwick literally neutra blue bottle brunch retro hammock. Helvetica PBR&B normcore aesthetic, XOXO cred kale chips polaroid austin yuccie art party. Venmo narwhal normcore, shabby chic keytar squid lumbersexual. Pabst intelligentsia hammock, plaid narwhal deep v pug mixtape slow-carb next level synth chillwave green juice. Leggings tote bag art party, 3 wolf moon humblebrag squid bushwick trust fund chicharrones small batch helvetica mixtape franzen blue bottle. Gastropub master cleanse dreamcatcher, YOLO knausgaard marfa keytar meditation whatever echo park fixie wayfarers tousled PBR&B. Freegan flannel pug etsy lomo messenger bag.</p>

        <p>Butcher quinoa mumblecore austin put a bird on it migas. Keffiyeh franzen whatever, pinterest cred letterpress umami fap seitan bushwick. Quinoa cold-pressed poutine raw denim mlkshk. Yuccie pork belly health goth small batch, tofu cornhole you probably haven't heard of them. Salvia pork belly +1, gentrify pitchfork four dollar toast cornhole fixie green juice. XOXO four dollar toast vinyl, hella fashion axe etsy photo booth ramps synth. Brooklyn authentic normcore, ethical four loko shabby chic health goth semiotics ugh church-key you probably haven't heard of them.</p>
    </div>

{% endblock %}