<!doctype html>
<html>
<head>
  <title>Parktake: Cause the Outdoors Await</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/jquery.pageslide.css">
  <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Parktake</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if 'user' in session %}
        <li><a id="nav-landing" href="/landing">Map</span></a></li>
        <li><a id="nav-account" href="/account">Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="nav-logout" href="/logout">Logout</a></li>
      </ul>
        {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a id="nav-signup" href="/signup">Sign Up</a></li>
        <li><a id="nav-login" href="/login">Log In</a></li>
      </ul>
        {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  {% if 'user' in session %}
    <form action="/logout" method="POST">
      <input type="submit" value="Log Out">
    </form>
  {% endif %}

  <div class="page-header">
    <h1>Parktake <small>Cause the Outdoors Await</small></h1>
  </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class=flashes>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <script>
    // $("#nav-logout").on("click", function(evt) {
    //   evt.preventDefault();
    //     $.post('/logout', function(){
    //     })
    //   })
    </script>
  {% block content %} put your content here {% endblock %}
  {% block footer %}
    <div class="footer">
      <p id="data-source">Data source: <a href="https://ridb.recreation.gov">Recreation Information Database</a></p>
      <p id="contact-info"><a href="mailto:#">Contact Us</a></p>
    </div>
  {% endblock %}

</body>
</html>