<!doctype html>
<html>
<head>
  <title>Parktake: Cause the Outdoors Await</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  {% if 'user' in session %}
    <form action="/landing" method="GET">
      <input type="submit" value="Home">
    </form>
    <form action="/account" method="GET">
      <input type="submit" value="Your Account">
    </form>
    <form action="/view-park" method="GET">
      <input type="submit" value="Your Parks">
    </form>
    <form action="/logout" method="POST">
      <input type="submit" value="Log Out">
    </form>
    {% else %}
    <form action="/signup" method="POST">
      <input type="submit" value="Sign Up">
    </form>

    <form action="/login" method="POST">
      <input type="submit" value="Log In">
    </form>
  {% endif %}

  <h1>Parktake</h1>
  <h2>Cause the Outdoors Await</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class=flashes>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <br>

  {% block content %} put your content here {% endblock %}
  <div id="footer">
    {% block footer %}
    <p id="data-source">Data source: <a href="https://ridb.recreation.gov">Recreation Information Database</a></p>
    <p id="contact-info"><a href="mailto:#">Contact Us</a></p>
    {% endblock %}
  </div>
</body>
</html>