{% extends 'base.html' %}

{% block content %}
<div class="welcome">
  <div class="row">
    <div class="col-xs-12 col-s-12 col-m-12 col-l-12" >
      <div class="content">
      <p><b><a href="/view-park" class="view-parks">View Your Parks</a></b>
        <span id="legend"><img src="/static/img/tree-yellowicon.png">New Park<span id="visited-legend"><img src="/static/img/tree-greenicon.png"> Visited Park</p></span></span>
      </div>
        <input id="search" class="controls" type="text" size="60" placeholder="Montana, USA">
      </div>
    </div>
  </div>

      <div id="map"></div>



  <script src="https://maps.googleapis.com/maps/api/js?key={{ mapkey }}&libraries=places"></script>
  <script src="/static/parksmap-1.js"></script>
  <script src="/static/jquery.pageslide.min.js"></script>

  <form action="/add-park" method="POST">
      <input type="hidden" name="recAreaID" id="rec-area-id">
      <input type="hidden" name="userID" id="user-id" value="{{ session.user }}">
  </form>

  <script>
      $("a.view-parks").pageslide({
          iframe: true
      });
  </script>

{% endblock %}