<!doctype html>
<html>
<head>
  <title>Parktake: Cause the Outdoors Await</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">

</head>

<body>

    <h3>Your Parks</h3>
    <div class="content">
        <div id="new-park-suggestion">
            <p>Based on where you've been, you may enjoy visiting <span id="new-park"></span>!</p>
        </div>
        <br>
        <div class="visited">
            <ul>
            {% for park in parks %}

                <li><b>{{ park.rec_area_name }}:</b> {{ park.location }}</li>

            {% endfor %}
            </ul>
        </div>

        <div class="states-chart">
            <h4>States</h4>
            <p>What states have your park visits been in? Mouse over each section to see.</p>
            <canvas id="donutChart"></canvas>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

    <script>
    $.get('/suggest-park', function(msg){
        $("#new-park").empty().append(msg)
    });


    var options = { responsive: true };

    var ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get('/parks-in-states.json', function (data){
        var stateDonutChart = new Chart(ctx_donut).Doughnut(data.states, options)
    });

    </script>

</body>
</html>

